<div ng-controller="mainController">
    <div class="content-header">
        <h1> <a href="home">logo</a> </h1>

        <div class="content-header-information">
            <ul class="ul-header-information">
                <li><i>0</i> somos</li>
                <li><i>0</i> Missão</li>
                <li><i>0</i> Chat</li>
                <li><i>0</i> Telefone</li>
                <li><i>0</i> E-Mail</li>
            </ul>
        </div>

        <div class="content-search">
            <i>0</i>
            <input type="text" id="tags" placeholder="Digite aqui o que você procura" />
            <button>Buscar</button>
        </div>

        <div class="login-user">
            <a href="javascript:;" id="login" onclick="funcoes.metodos.lightbox();">Faça login</a>
        </div>
    </div>

    <div class="content-menu">
        <ul class="ul-menu">
            <li><a href="javascript:;">Processos</a>
                <ul>
                    <li><a href="javascript:;">CD</a></li>
                    <li><a href="javascript:;">LOJA</a></li>
                    <li><a href="estoque/pacote">ESTOQUE</a>
                        <ul>
                            <li><a href="javascript:;">Fabricante Alternativo</a></li>
                            <li><a href="javascript:;">Endereçamento de peças</a></li>
                            <li><a href="javascript:;">Etiquetas</a></li>
                            <li><a href="javascript:;">Invertário</a>
                                <ul>
                                    <li><a href="estoque/pacote/contagem_estoque">Contar o Estoque</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:;">Ajuste</a></li>
                            <li><a href="javascript:;">PAR / Vitrine</a></li>
                            <li><a href="javascript:;">Relatórios</a></li>
                            <li><a href="javascript:;">Transferências</a></li>
                            <li><a href="javascript:;">Recebimento</a></li>
                            <li><a href="javascript:;">Logística Reserva</a></li>
                            <li><a href="javascript:;">Ajustes</a></li>
                            <li><a href="javascript:;">Análise Mercadológica</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:;">ADM</a></li>
                </ul>
            </li>
            <li><a href="javascript:;">Publicações</a>
                <ul>
                    <li><a href="javascript:;">Normativas</a>
                        <ul>
                            <li><a href="javascript:;">CD</a></li>
                            <li><a href="javascript:;">Loja</a></li>
                            <li><a href="javascript:;">Estoque</a>
                                <ul>
                                    <li><a href="javascript:;">Fabricante Alternativo</a></li>
                                    <li><a href="javascript:;">Endereçamento de Peças</a></li>
                                    <li><a href="javascript:;">Etiquetas</a></li>
                                    <li><a href="javascript:;">Inventário</a>
                                        <ul>
                                            <li><a href="estoque/pacote/contagem_estoque">Contar o Estoque</a></li>
                                        </ul>
                                    </li> 
                                    <li><a href="javascript:;">Ajuste</a></li> 
                                    <li><a href="javascript:;">PAR / Vitrine</a></li> 
                                    <li><a href="javascript:;">Transferências</a></li>
                                    <li><a href="javascript:;">Recebimento</a></li>
                                    <li><a href="javascript:;">Logística Reserva</a></li>
                                    <li><a href="javascript:;">Ajustes</a></li>
                                    <li><a href="javascript:;">Análise Mercadológica</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:;">ADM</a></li> 
                        </ul>
                    </li>
                    <li><a href="javascript:;">Procedimentos</a></li>
                    <li><a href="javascript:;">Sistemas</a></li>
                    <li><a href="javascript:;">Videos</a></li>
                    <li><a href="javascript:;">Informativos</a></li>
                    <li><a href="javascript:;">Testes</a></li>
                    <li><a href="javascript:;">FAQ</a></li>
                    <li><a href="javascript:;">Fluxos</a></li>
                </ul>
            </li>
            <li><a href="javascript:;">Soluções</a></li>
            <li><a href="javascript:;">Aprenda</a></li>
        </ul>
    </div>
</div>