<div ng-controller="mainController">
    <div class="content-header">
        <h1> <a href="">logo</a> </h1>

        <div class="content-header-information">
            <ul class="ul-header-information">
                <li><i>0</i> somos</li>
                <li><i>0</i> Missão</li>
                <li><i>0</i> Chat</li>
                <li><i>0</i> Telefone</li>
                <li><i>0</i> E-Mail</li>
            </ul>
        </div>

        <div class="content-search">
            <i>0</i>
            <input type="text" id="tags" placeholder="Digite aqui o que você procura" />
            <button>Buscar</button>
        </div>

        <div class="login-user">
            <a href="javascript:;" id="login">Faça login</a>
        </div>
    </div>

    <div class="content-menu">
        <ul class="ul-menu">
            <li><a href="home">Processos</a>
                <ul>
                    <li>CD</li>
                    <li>LOJA</li>
                    <li>ESTOQUE
                        <ul>
                            <li>Fabricante Alternativo</li>
                            <li>Endereçamento de peças</li>
                            <li>Etiquetas</li>
                            <li>Invertário
                                <ul>
                                    <li>Contar o Estoque</li>
                                </ul>
                            </li>
                            <li>Ajuste</li>
                            <li>PAR / Vitrine</li>
                            <li>Relatórios</li>
                            <li>Transferências</li>
                            <li>Recebimento</li>
                            <li>Logística Reserva</li>
                            <li>Ajustes</li>
                            <li>Análise Mercadológica</li>
                        </ul>
                    </li>
                    <li>ADM</li>
                </ul>
            </li>
            <li><a href="dcc">Publicações</a></li>
            <li>Soluções</li>
            <li>Aprenda</li>
        </ul>
    </div>
</div>