<div class="content-videos">
    <div class="breadcrumb"></div>

    <h2>{{textPage}}</h2>  
    
    <div class="content-videos-left">
        <div class="content-links videos-slider">
            <div class="content-row-list-videos">
                <ol>
                    <li>
                        <img src="" />
                        <p>Nononono</p>
                    </li>
                    <li>
                        <img src="" />
                        <p>Nononono</p>
                    </li>
                    <li>
                        <img src="" />
                        <p>Nononono</p>
                    </li>
                </ol>

                <ol>
                    <li>
                        <img src="" />
                        <p>Nononono</p>
                    </li>
                    <li>
                        <img src="" />
                        <p>Nononono</p>
                    </li>
                    <li>
                        <img src="" />
                        <p>Nononono</p>
                    </li>
                </ol>
            </div>
            
            <div class="content-row-list-videos">
                <ol>
                    <li>
                        <img src="" />
                        <p>Nononono</p>
                    </li>
                    <li>
                        <img src="" />
                        <p>Nononono</p>
                    </li>
                    <li>
                        <img src="" />
                        <p>Nononono</p>
                    </li>
                </ol>

                <ol>
                    <li>
                        <img src="" />
                        <p>Nononono</p>
                    </li>
                    <li>
                        <img src="" />
                        <p>Nononono</p>
                    </li>
                    <li>
                        <img src="" />
                        <p>Nononono</p>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div class="content-videos-right">
        <div class="content-links videos-slider-vertical">
            <div class="content-row-list-videos-vertical">0</div>
            <div class="content-row-list-videos-vertical">1</div>
            <div class="content-row-list-videos-vertical">2</div>

        </div>
    </div>

    <div class="both"></div>
</div>