
{{breadCrumb}}

<div class="content-pacote">
    <div class="breadcrumb"></div>

    <h2>{{textPage}}</h2>

    <div class="content-list">
        <title>Conferência de Mercadoria</title>

        <ol class="list-vertical">
            <li>
                <a href="javascript:;">
                    Movimentação de Mercadoria
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    Conferência de Mercadoria
                </a>
            </li>
            <li>
                <a href="pacote/conferencia_encomenda">
                    Conferência de Ecomenda
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    Pacote de Venda x Romaneio de Venda
                </a>
            </li>
        </ol>
    </div>

    <div class="content-list">
        <title>Entrega de Mercadoria</title>

        <ol class="list-vertical">
            <li>
                <a href="javascript:;">
                    Alocação de Peças conferidas para Entrega
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    Retirada de Mercadoria no Pacote
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    Painel de Senha
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    Controle de Demandas Internas
                </a>
            </li>
        </ol>
    </div>

    <div class="both"></div>
</div>