{{textPage}}

<div class="content-home">

<!--
    /**********************************************
    *
    * LEFT
    * 
    **********************************************/
    -->

    <div class="content-home-left">
        
        <div class="component-oque-ha-de-novo">
            <title>O que há de novo?</title>

            <div class="slider single-item">
                <div> <a href="oquehadenovo"> <img src="content/images/img1.jpg" width="130" /> </a> </div>
                <div> <a href="oquehadenovo"> <img src="content/images/img2.jpg" width="130" /> </a> </div>
                <div> <a href="oquehadenovo"> <img src="content/images/img3.jpg" width="130" /> </a> </div>
            </div>
        </div>

        <div class="component-fique-ligado">
            <title>Fique Ligado</title>

            <div class="slider single-item">
                <div> <a href="fiqueligado"> <img src="content/images/img1.jpg" width="130" /> </a> </div>
                <div> <a href="fiqueligado"> <img src="content/images/img2.jpg" width="130" /> </a> </div>
                <div> <a href="fiqueligado"> <img src="content/images/img3.jpg" width="130" /> </a> </div>
            </div>
        </div>

        <div class="component-dicas">
            <title>Fique Ligado</title>

            <picture>
                <img src="" />
            </picture>
        </div>

        <a href="" class="btn">Glossário</a>

    </div>


<!--
    /**********************************************
    *
    * RIGHT
    * 
    **********************************************/
    -->


    <div class="content-home-right">
        <div class="component-ultimos-videos">
            <title>Ultimos Videos</title>

            <div class="content-videos">
              
                <div class="content-videos-texto">
                    <p>dsdsdsdsdsds</p>
                    <small>dsdsdsdsdsdsdsds</small>
                </div>
            </div>

            <a href="">Mostrar mais</a>
        </div>

        <div class="component-mais-visitados">
            <title>Mais Visitados</title>

            <div class="content-row-mais-visitados">
                <a href="">nononon.com.br</a>
                <p>
                    dsds 
                </p>
            </div>
        </div>

        <div class="component-mais-visitados">
            <title>Enquete</title>
            
            <div class="content-enquete">
                <h4>Quantas vezes por semana você utiliza o sistema? </h4>

                <label for="qtd1">
                    <input type="radio" name="qtd1" id="qtd1" />
                    <span>Mais de 3 vezes</span>
                </label>

                <label for="qtd2">
                    <input type="radio" name="qtd1" id="qtd2" />
                    <span>Mais de 5 vezes</span>
                </label>

                <label for="qtd3">
                    <input type="radio" name="qtd1" id="qtd3" />
                    <span>Nenhuma</span>
                </label>

                <buttom type="submit">Enviar o questionário</buttom>

            </div>
        </div>
    </div>


<!--
    /**********************************************
    *
    * CENTER
    * 
    **********************************************/
    -->


    <div class="content-home-center">
        <h2>Explore os temas de seu <strong>interesse</strong> e veja <strong>tudo</strong> o que o <strong>SIM</strong>  pode fazer </h2>
    
        <ol class="content-center-list">
            <li><a href="javascript:;">Estoque</a></li>
            <li><a href="javascript:;">Vendas</a></li>
            <li><a href="javascript:;">Caixa</a></li>
            <li><a href="pacote">Pacote</a></li>
            <li><a href="javascript:;">Administrativo</a></li>
            <li><a href="javascript:;">Expedição</a></li>
            <li><a href="javascript:;">Loja</a></li>
            <li><a href="javascript:;">CD</a></li>
            <li><a href="javascript:;">Recebimento</a></li>
        </ol>

        <div class="teste-conhecimento">
            <img src="" />
            <button>Teste seus conhecimento</button>
        </div>
    </div>

    <div class="both"></div>
</div>