{{breadCrumb}}

<div class="content-contagem-estoque">
    <div class="breadcrumb"></div>

    <h2>{{textPage}}</h2>  
    
    <ol>
        <li>
            <i></i> <a href="estoque/inventario/contagem_estoque/inventario">Normativas</a>
        </li>
        <li>
            <i></i> Informativos
        </li>
        <li>
            <i></i> Procedimentos
        </li>
        <li>
            <i></i> Testes
        </li>
        <li>
            <i></i> Sistemas
        </li>
        <li>
            <i></i> FAQ
        </li>
        <li>
            <i></i> Videos
        </li>
        <li>
            <i></i> Fluxos
        </li>
    </ol>

    <div class="both"></div>
</div>