<div class="content-testerecebimentocarga">
    <div class="breadcrumb"></div>

    <h2>{{textPage}}</h2> 
    
    
    <form id="frm">
        <fieldset id="fieldset_1">
            <legend>Questão 1</legend>
            <small>A metade do dobro de uma dúzia é igual a:</small>

            <label>
                a) <input type="radio" value="1" name="questao1" /> 6.
            </label>
            <label>
                b) <input type="radio" value="2" name="questao1" /> 12.
            </label>
            <label>
                c) <input type="radio" value="3" name="questao1" /> 24.
            </label>
            <label>
                d) <input type="radio" value="4" name="questao1" /> 3.
            </label>
            <label>
                e) <input type="radio" value="5" name="questao1" /> 8.
            </label>
        </fieldset>

        <fieldset id="fieldset_2">
            <legend>Questão 2</legend>
            <small>Um home viu uma toupeira. A Toupeira, que também olhou para ele, viu o que?</small>

            <label>
                a) <input type="radio" value="1" name="questao2" /> O homem que a viu.
            </label>
            <label>
                b) <input type="radio" value="2" name="questao2" /> O dedo do homem que apontou para ele quando a viu.
            </label>
            <label>
                c) <input type="radio" value="3" name="questao2" /> A camisa do homem que era vermelha.
            </label>
            <label>
                d) <input type="radio" value="4" name="questao2" /> Um vulto difuso, uma mancha, já que a toupeira é quase cega.
            </label>
            <label>
                e) <input type="radio" value="5" name="questao2" /> Nenhuma das respostas acima.
            </label>
        </fieldset>

        <fieldset id="fieldset_3">
            <legend>Questão 3</legend>
            <small>O lago Vitória fica em que lugar?</small>

            <label>
                a) <input type="radio" value="1" name="questao3" /> Na África.
            </label>
            <label>
                b) <input type="radio" value="2" name="questao3" /> Na Ásia.
            </label>
            <label>
                c) <input type="radio" value="3" name="questao3" /> Na Oceania.
            </label>
            <label>
                d) <input type="radio" value="4" name="questao3" /> Nas Américas.
            </label>
            <label>
                e) <input type="radio" value="5" name="questao3" /> As margens do Rio Negro.
            </label>
        </fieldset>

        <fieldset id="fieldset_4">
            <legend>Questão 4</legend>
            <small>Uma das respostas abaixo está correta. Qual?</small>

            <label>
                a) <input type="radio" value="1" name="questao4" /> A velocidade do sim é igual a da luz.
            </label>
            <label>
                b) <input type="radio" value="2" name="questao4" /> Golfinhos são mamíferos.
            </label>
            <label>
                c) <input type="radio" value="3" name="questao4" /> Os passáros são invertebrados.
            </label>
            <label>
                d) <input type="radio" value="4" name="questao4" /> O mar vermelho fica na china.
            </label>
            <label>
                e) <input type="radio" value="5" name="questao4" /> O Brasil é o único país do mundo onde a lei é cumprida exemplarmente.
            </label>
        </fieldset>

        <fieldset id="fieldset_5">
            <legend>Questão 5</legend>
            <small>O avião que ultrapassa a velocidade do som é:</small>

            <label>
                a) <input type="radio" value="1" name="questao5" /> Ultrasônico.
            </label>
            <label>
                b) <input type="radio" value="2" name="questao5" /> Hipersônico.
            </label>
            <label>
                c) <input type="radio" value="3" name="questao5" /> Supersônico.
            </label>
            <label>
                d) <input type="radio" value="4" name="questao5" /> Sônico.
            </label>
            <label>
                e) <input type="radio" value="5" name="questao5" /> Teco teco.
            </label>
        </fieldset>

        <fieldset id="fieldset_6">
            <legend>Questão 6</legend>
            <small>O Papel foi inventado há mais de 2000 anos atrás aonde?</small>

            <label>
                a) <input type="radio" value="1" name="questao6" /> No Japão.
            </label>
            <label>
                b) <input type="radio" value="2" name="questao6" /> Na Mongólia.
            </label>
            <label>
                c) <input type="radio" value="3" name="questao6" /> Na Atlântida.
            </label>
            <label>
                d) <input type="radio" value="4" name="questao6" /> No Egito, pelo Judeus.
            </label>
            <label>
                e) <input type="radio" value="5" name="questao6" /> Na China.
            </label>
        </fieldset>

        <fieldset id="fieldset_7">
            <legend>Questão 7</legend>
            <small>O Réptil pré-histórico mais feroz que existiu, foi:</small>

            <label>
                a) <input type="radio" value="1" name="questao7" /> O Dinossauro Rex.
            </label>
            <label>
                b) <input type="radio" value="2" name="questao7" /> O mamute.
            </label>
            <label>
                c) <input type="radio" value="3" name="questao7" /> O Bocassauro.
            </label>
            <label>
                d) <input type="radio" value="4" name="questao7" /> O Tiranossauro Rex.
            </label>
            <label>
                e) <input type="radio" value="5" name="questao7" /> O Mastodonte.
            </label>
        </fieldset>

        <fieldset id="fieldset_8">
            <legend>Questão 8</legend>
            <small>Famoso pensador que primeiro escreveu sobre a existência da lendária Atlêntida</small>

            <label>
                a) <input type="radio" value="1" name="questao8" /> Heródoto.
            </label>
            <label>
                b) <input type="radio" value="2" name="questao8" /> Sócrates.
            </label>
            <label>
                c) <input type="radio" value="3" name="questao8" /> Platão.
            </label>
            <label>
                d) <input type="radio" value="4" name="questao8" /> Homero.
            </label>
            <label>
                e) <input type="radio" value="5" name="questao8" /> Leonardo da Vinci.
            </label>
        </fieldset>

        <p>Para ver o resultado, clique no botão <strong>CONFERIR</strong> abaixo!</p>

        <div class="btns-teste-conhecimento">
            <button id="conferir">Conferir</button>
            <button id="limpar">Limpar</button>
        </div>

    </form>
</div>