<div class="content-testeconhecimento">
    <div class="breadcrumb"></div>

    <h2>{{textPage}}</h2>   
    
    <ol>
        <li>
            <a href="javascript:;">
                <i>0</i>
                <span>Testes Loja</span>
            </a>
        </li>

        <li>
            <a href="javascript:;">
                <i>0</i>
                <span>Testes CD</span>
            </a>
        </li>

        <li>
            <a href="javascript:;">
                <i>0</i>
                <span>Testes Estoque</span>
            </a>
        </li>

        <li>
            <a href="javascript:;">
                <i>0</i>
                <span>Testes Expedição</span>
            </a>
        </li>

        <li>
            <a href="javascript:;">
                <i>0</i>
                <span>Testes Caixa</span>
            </a>
        </li>

        <li>
            <a href="javascript:;">
                <i>0</i>
                <span>Testes Transferência</span>
            </a>
        </li>

        <li>
            <a href="javascript:;">
                <i>0</i>
                <span>Testes Inventário</span>
            </a>
        </li>

        <li>
            <a href="javascript:;">
                <i>0</i>
                <span>Testes Vendas</span>
            </a>
        </li>

        <li>
            <a href="javascript:;">
                <i>0</i>
                <span>Testes Pacote</span>
            </a>
        </li>

        <li>
            <a href="testeconhecimento/teste-recebimento-de-carga">
                <i>0</i>
                <span>Testes Recebimento</span>
            </a>
        </li>

        <li>
            <a href="javascript:;">
                <i>0</i>
                <span>Testes Administrativo</span>
            </a>
        </li>

        <li>
            <a href="javascript:;">
                <i>0</i>
                <span>Testes SAC</span>
            </a>
        </li>
    </ol>

    <div class="both"></div>
</div>