{{breadCrumb}}

<div class="content-fiqueligado">
    <div class="breadcrumb"></div>

    <h2>{{textPage}}</h2>  
    
    <div class="content-fiqueligado-left">

        <div class="content-links">
            <ol>
                <li>
                    <img src="" />
                    <p>Nononono</p>
                </li>
                <li>
                    <img src="" />
                    <p>Nononono</p>
                </li>
                <li>
                    <img src="" />
                    <p>Nononono</p>
                </li>
            </ol>

            <ol>
                <li>
                    <img src="" />
                    <p>Nononono</p>
                </li>
                <li>
                    <img src="" />
                    <p>Nononono</p>
                </li>
                <li>
                    <img src="" />
                    <p>Nononono</p>
                </li>
            </ol>
        </div>

    </div>

    <div class="content-fiqueligado-right">
        <div class="component-ultimos-videos">
            <title>Ultimos Videos</title>

            <div class="content-videos">
              
                <div class="content-videos-texto">
                    <p>dsdsdsdsdsds</p>
                    <small>dsdsdsdsdsdsdsds</small>
                </div>
            </div>

            <a href="">Mostrar mais</a>
        </div>

        <div class="component-mais-visitados">
            <title>Mais Visitados</title>

            <div class="content-row-mais-visitados">
                <a href="">nononon.com.br</a>
                <p>
                    dsds 
                </p>
            </div>
        </div>

        <div class="component-mais-visitados">
            <title>Enquete</title>
            
            <div class="content-enquete">
                <h4>Quantas vezes por semana você utiliza o sistema? </h4>

                <label for="qtd1">
                    <input type="radio" name="qtd1" id="qtd1" />
                    <span>Mais de 3 vezes</span>
                </label>

                <label for="qtd2">
                    <input type="radio" name="qtd1" id="qtd2" />
                    <span>Mais de 5 vezes</span>
                </label>

                <label for="qtd3">
                    <input type="radio" name="qtd1" id="qtd3" />
                    <span>Nenhuma</span>
                </label>

                <buttom type="submit">Enviar o questionário</buttom>

            </div>
        </div>
    </div>

    <div class="both"></div>
</div>