{{breadCrumb}}

<div class="content-inventario">
    <div class="breadcrumb"></div>

    <h2>{{textPage}}</h2>  
    
    <div class="content-invertario-interno">
        <title></title>

        <div class="content-publication">Por: <strong>DCC</strong> <time>Quinta-feira, 20 de julho de 2017</time></div>

        <section>Texto</section>
        
        <div class="medias-sociais">
            facebook
        </div>

        <section>Palavra-chave</section>

        <div class="content-relations-links"></div>
    </div>

    <div class="both"></div>
</div>