{{breadCrumb}}

<div class="content-solucoes">
    <div class="breadcrumb"></div>

    <h2>{{textPage}}</h2>  
    
    <ol>
        <li>
            <strong>LIM</strong> Logística Integrada Mercadocar
        </li>
        <li>
            <strong>BO-DP</strong> Depto. Pessoal
        </li>
        <li>
            <strong>BO-RH</strong> Recursos Humanos
        </li>
        <li>
            <strong>GPC</strong> Gestão de Produtos
        </li>
        <li>
            <strong>B2CV</strong> Negócios ao Cliente Virtual
        </li>
        <li>
            <strong>Gfo</strong> Compras e Gestão de Fornecedores
        </li>
        <li>
            <strong>BO-TI</strong> Tecnologia da Informação
        </li>
        <li>
            <strong>B2CL</strong> Negócios ao Cliente Lojas
        </li>
        <li>
            <strong>BO</strong> Money Financeiro
        </li>
        <li>
            <strong>BO-FiCo</strong> Fiscal e Contabilidade
        </li>
    </ol>

    <div class="both"></div>
</div>